.burger-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 50px;
  width: 50px;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  #burger {
    width: 30px;
    height: 18px;
    .bar {
      width: 100%;
      height: 3px;
      display: block;
      position: relative;
      background: white;
      &.topBar {
        transform: translateY(0px) rotate(0deg);
      }
      &.middleBar {
        transform: translateY(3px) rotate(0deg);
      }
      &.btmBar {
        transform: translateY(6px) rotate(0deg);
      }
    }
  }
}
